# SPDX-FileCopyrightText: Copyright (c) 2025 Yegor Bugayenko
# SPDX-License-Identifier: MIT

*.gem
.bundle/
.bundle/**/*
.claude/
.DS_Store
.idea/
.idea/**/*
.yardoc/
coverage/
coverage/**/*
doc/
node_modules/
rdoc/
rdoc/**/*
tmp/**/*
vendor/
